@font-face {
    font-family: Montserrat;
    src: url("../../font/Montserrat/Montserrat-Regular.otf") format("opentype");
}
body {
	font-family: Montserrat;
	background-color: #f8f8fe;
}
       
   .card-head{
              margin-top: 30px;
              margin-left: 2.5%; 
              margin-right: 2.5%;
              background-color: white;
              box-shadow: 0 4px 8px 0 ;
              }
   .card-one {
              margin-top: 30px;   
              width: 46%;
              margin-left: 2.5%;
              background-color: white;
              box-shadow: 0 4px 8px 0 ;
            }
   .card-two {
              margin-top: 30px; 
              margin-left:2.5%; 
              width: 46%;  
              background-color: white; 
              box-shadow: 0 4px 8px 0 ;
              
            }
 .card-three { 
              margin-top: 30px; 
              margin-left: 2.5%;  
              width: 46%;
              background-color: white;
              box-shadow: 0 4px 8px 0 ;
                  
            }
  .card-four{ margin-top: 30px;
              margin-left:2.5%; 
              width: 46%;  
              background-color: white; 
              box-shadow: 0 4px 8px 0 ;
	
             }
            
     .status{
            border: 1px solid #a0a0a0;
            }
    .align_r{
            float: right;
            }
            
     .write{
            width: 90%;
            height: 75%;
     }
     button{
      border-radius:10px;
      cursor: pointer;
     }
            

.scroll-1 {
position: relative;
overflow-y: scroll;
height: 386px;
 }
 
 .scroll-2{
 position: relative;
 overflow-x: scroll;
 } 
 
 .scroll-3 {
position: relative;
overflow-y: scroll;
height: 630px;
 }


.scrollbar-cyan::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00bcd4; }

.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.bordered-cyan::-webkit-scrollbar-track {
-webkit-box-shadow: none;
border: 1px solid #00bcd4; }

.bordered-cyan::-webkit-scrollbar-thumb {
-webkit-box-shadow: none; }

/* square scrollbar-cyan bordered-cyan */
            
button{
	color: var(--colorAzul);
	background-color:white;
	border-radius: 3em;
	box-shadow: 2px 3px 4px #b6b6b6;
    width: 100%;
    font-weight: bold;
}    

.headerInit{
	margin-top: 0px !important;
}

.SeguimientoSitioLetter{
	color: #4c4c4c;
    font-size: 14px;
    font-weight: bold;
    margin:11px;
    margin-left: 0px;
}

 .espaciodeSeguimientoSitio{
 padding: 0px;
 	height: 4em;
 }
 
 .espaciodeSeguimientoSitioExpandir{
     padding: 0px;
 	 
 }
 
 .espacioSeguimientoSitioInicial{
 padding-left: 0px;
  height: 5em;
 }
 .centrarContenido{
 	  padding: 5px;	
      margin-left: 0px !important; 
 }

.bgroundDesabilitarSeguimiento{
	background-color: var(--colorDesabilitar)
}

.colorDesabilitarSeguimiento{
	color: var(--colorDesabilitar)
}

.cardSeguimientoSitio{
	  margin-top: -2em;
}


.fechaInfo{
	color:#4c4c4c;
    font-size: 11px;

}


.iconMap:hover{
	cursor: pointer;
	font-size: 1.3em;
	color: #4c4c4c;
}



::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #d9e2e1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4e4e4; 
}

.styleCommentSecond{
	border-radius: 4em;
    border: 0.2em solid var(--colorLetterGris);
    padding: 0.9em;
}

.colorLetterGris{
	color: #635e5e;
	    font-size: 12px;
}

.btnComment{
color: var(--colorAzul);
	background-color:white;
	border-radius: 3em;
	box-shadow: 2px 3px 4px #b6b6b6;
    font-weight: bold;
} 

.seguimientoSitioLetterDetalle > p{
	margin: 0px;
}

.styleFilePaterno{
	background-color: transparent;
    border: none;
    border-bottom: 1px solid;
}


.styleColorIconFile{
	font-size: 1.2em;
	color: var(--colorAzul);
	cursor: pointer;
}

.swal2-image{
    width:120px !important;
}

.content_generales {
    background-color: #f7f7f7;
    margin-top: 69px;
}

li{
	display: block;
}

.table td {
    padding: .5rem !important;
}