@font-face {
    font-family: Montserrat;
    src: url("../../font/Montserrat/Montserrat-Regular.otf") format("opentype");
}
.b_blue,.tooltip_blue{
	background-color:#468df0
}
.b_blue_sky{
	background-color:#54b4e2
}
.b_orange,.tooltip_orange{
	background-color:#f5bf43
}
.b_red,.tooltip_red{
	background-color:#ea5d4b
}
.b_green{
	background-color:#4ed1c4
}
.b_green_light,.tooltip_green{
	background-color:#8ed04d
}
.b_purple{
	background-color:#9f76cb
}
.b_gray_soft{
	background-color:#f7f7f7
}.c_orange{
	color:#f5bf43 !important
}
.c_orange_dark{
	color:#f38f31 !important
}
.c_blue{
	color:#468df0
}
.c_red{
	color:#ea5d4b
}
.c_green{
	color:#4ed1c4
}
.c_green_light{
	color:#8ed04d
}
.c_purple{
	color:#9f76cb
}
.btn_structure{
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	font-weight:700;
	height:18px;
	margin-top:9px;
	padding:9px 18px;
	border-radius:18px;
	-webkit-box-shadow:2px 4px 3px 0 #737373;
	-moz-box-shadow:2px 4px 3px 0 #737373;
	box-shadow:2px 4px 3px 0 #737373
}
.btn_structure i{
	font-size:18px;
	height:24px;
	margin-right:9px;
	margin-left:-6px;
	vertical-align:text-top
}
.btn_structure:hover{
	text-decoration:underline
}
.text_strong{
	font-size:24px;
	font-weight:700
}
.center{
	text-align:center
}
.tooltip,.tooltip_red,.tooltip_orange,.tooltip_green,.tooltip_blue{
	display:none;
	border-radius:9px;
	color:white;
	font-size:14px;
	left:44px;
	padding:9px 9px;
	position:fixed;
	z-index:9
}
.tooltip_span,.tooltip_red span,.tooltip_orange span,.tooltip_green span{
	width:0;
	height:0;
	border-style:solid;
	border-width:9px 22px 9px 0;
	left:-15px;
	position:absolute
}
.tooltip_span_left,.tooltip_blue span.arrow{
	width:0;
	height:0;
	border-style:solid;
	border-width:9px 22px 9px 0;
	left:-15px;
	position:absolute
}
.tooltip_red span {
	border-color: transparent #ea5d4b transparent transparent
}
.tooltip_orange span {
	border-color: transparent #f5bf43 transparent transparent
}
.tooltip_green span {
	border-color: transparent #8ed04d transparent transparent
}
.tooltip_blue span.arrow {
	border-color: transparent #468df0 transparent transparent
}
.tooltip_blue p {
	display: flex
}
.hide {
	display: none
}
.space_right {
	margin-right: 33px
}
body {
	background: url("../../img/login/background_login.jpg");
	background-size: cover;
	font-family: Montserrat;
}
body #block {
	border-radius: 10px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
	background-color: white;
	margin-left: 33px;
	padding: 90px 45px 60px 60px
}
body #block .header {
	margin-bottom: 63px
}
body #block .header p {
	font-size: 36px;
	line-height: 1.07;
	letter-spacing: normal;
	color: #6b6d73;
	margin-left: 15px
}
body #block .header p span {
	font-weight: bold
}
body #block .header img {
	width: 212px;
	margin-left: 15px
}
body #block .group_input label {
	color: #707070;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.21;
	margin-left: 22px
}
body #block .group_input input[type=text],body #block .group_input input[type=password]{
	background-color:#ffffff;
	border:1px;
	border-radius:39px;
	box-shadow:0 0 22px 0 rgba(0,0,0,0.05);
	color:#707070;
	height:33px;
	font-size:18px;
	line-height:1.2;
	margin:12px 0 33px;
	text-indent:21px;
	width:100%
}
body #block .group_check.mdc-form-field{
	margin:-21px 18px 12px
}
body #block .group_check.mdc-form-field>label{
	font-size:18px;
	line-height:1.2;
	color:#707070
}body #block .group_check.mdc-form-field .mdc-checkbox::before,body #block .group_check.mdc-form-field .mdc-checkbox::after{
	background-color:#468df0
}
body #block a{
	font-size:14px;
	font-weight:bold;
	line-height:1.29;
	color:#468df0;
	margin:12px 22px
}
.mdc-button--raised:not(:disabled),.mdc-button--unelevated:not(:disabled){
	background-color:#468df0;
	float:right;
	margin-top:39px
}
.mdc-button{
	text-transform:inherit
}
@media (min-width: 1280px){
	body #block{
		width: 50%;
		padding:90px 145px 60px 133px
	}
}
/*# sourceMappingURL=login.min.css.map */
