@charset "ISO-8859-1";

select:hover{
	cursor: pointer;
}

.colorLetterGris{
	color: #635e5e;
	    font-size: 12px;
}

.colorTextArea{
	background-color: var(--backgroundTextArea) !important;
}

.colorDesabilitarSeguimiento{
	color:	var(--colorDesabilitar)!important;
}
.bgroundDesabilitarSeguimiento{
	background-color:  var(--colorDesabilitar)!important;
}
.colorHabilitarSitio{
	color: 	var(--colorDesabilitar);
}
.bgroundHabilitarSitio{
	background-color: 	var(--colorDesabilitar);
}

.styleheader{
	color: #707070;
    font-size: 22px;
    font-weight: 700;
    margin: 9px 0;
}

.styleButtonDoctoCliente{
	color: var(--colorAzul);
	background-color:white;
	border-radius: 3em;
	box-shadow: 2px 3px 4px #b6b6b6;
   width: 169%;
    font-weight: bold;
}

.content_gral{
	 margin-left: 0% !important;
        width: 100% !important;
}



.ladoIzqueirdoImg{
	
cursor: grab;
    position: relative;
    z-index: 999;
    height: 400px;
    width: 514.172px;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;
    transform: translate3d(88.914px, 49.5px, 0px) scale(1.6, 1.8925);
    background: white;
}

.ladoDerechoImg{
	cursor: grab;
    position: relative;
    z-index: 999;
    height: 400px;
    width: 514.172px;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;
    transform: translate3d(168.977px, 45.5px, 0px) scale(1.7, 1.8925);
    background: white;
}

.modal-footeres 
{
	display:flex;
	-webkit-box-align:center;
	align-items:center;
	-webkit-box-pack:end;
	justify-content:flex-end;
	padding:1rem;
	border-top:1px solid #e9ecef
}

@keyframes fade-in {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}

@keyframes fade-out {
  from { 
    opacity: 1; 
  }
  to { 
    opacity: 0;
  }
  .swal2-image{
    width:120px !important;
}
