
.logo{
	height: 33px;
    margin: 3px 0 0 6px;
 }
 .logox{
	display: flex;
	padding: 25px 7px 20px;
 }
 .imagex{
	text-align: center;
	width: 100%;
 }
.imagex i {
	cursor: pointer;
    float: right;
    font-size: 33px;
    margin: 0 6px;
 }
 .imglogo{
    width: 60%;
 }
 .tam14{
 	font-size: 14px;
}
.light {
    padding: 6px 6px;
    border-radius: 7px;
    width: 3px;
    height: 0em;
    margin-top: 1.3em;
}
}
.link i {
    height: 20px;
    margin-right: 6px;
    vertical-align: text-bottom;
}



#menu1{
	background-color:#505869;color:white;height:100%;position:fixed;overflow-x:hidden;
	overflow-y:scroll;width:20%;z-index:6
}
#menu1 a{color:white}
#menu1.menu1_left,
#menu1_.menu1_left{display:none;width:24%}
#menu1 .logo,
#menu1_ .logo{display:flex;padding:21px 4px 69px}
#menu1 .logo .image{max-width:369px;text-align:center;width:100%}
#menu1 .logo .image a,#menu1_ .logo .image a{float:left}
#menu1 .logo .image img,#menu1_ .logo .image img{width:122px}
#menu1 .logo .image i,
#menu1_ .logo .image i{cursor:pointer;float:right;font-size:33px;margin:0 6px}
#menu1 .logo .finder{background-color:#292843;color:#a0a0a0;width:75%}
#menu1 .logo .finder+i,#menu1_ .logo .finder+i{line-height:2}
#menu1 .close_m,#menu1_ .close_m{text-align:center}
#menu1 .close_m i,#menu1_ .close_m i{font-size:39px;padding:0}
#menu1 .title_section,#menu1_ .title_section{
	color:white;background-color:#468df0;border-radius:50px 0 0 50px;display:flex;
	height:auto;font-size:13px;font-weight:700;float:right;margin-bottom:9px;
	padding:20px 3px 20px 21px;width:85%
}
#menu1 .title_section p,#menu1_ .title_section p{margin:0}
#menu1 .title_section p.date,
#menu1 .title_section p.type,
#menu1_ .title_section p.date,
#menu1_ .title_section p.type{width:25%}
#menu1 .title_section p.monthly,
#menu1_ .title_section p.monthly{width:50%}#menu1>ul,
#menu1_>ul{float:right;list-style:none;margin-top:0;width:100%}
#menu1>ul>li,#menu1_>ul>li{display:flex;cursor:pointer;margin:6px 0 7px}
#menu1>ul>li:hover,#menu1_>ul>li:hover{background-color:#6f7786}
#menu1>ul>li div.info,#menu1_>ul>li div.info{width:69%}
#menu1>ul>li div.info p,#menu1_>ul>li div.info p{
	padding-left:15px;font-size:12px;font-weight:700;margin:9px 0 0}
#menu1>ul>li div.info p.company,#menu1_>ul>li div.info p.company{
	font-size:15px;font-weight:400;padding-left:15px;margin-top:0;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#menu1>ul>li div.color,#menu1_>ul>li div.color{width:30%}
#menu1 div.collapse,#menu1_ div.collapse{display:none;width:69%}
#menu1 div.collapse>div:not(.paginate),
#menu1_ div.collapse>div:not(.paginate){width:25%}
#menu1 div.collapse.content_paginate,
#menu1_ div.collapse.content_paginate{justify-content:flex-end;width:100%}
#menu1 div.collapse p,#menu1_ div.collapse p{font-size:14px;text-align:center}
#menu1 div.collapse p i,#menu1_ div.collapse p i{cursor:pointer;height:20px;vertical-align:text-bottom}
#menu1 .footer,#menu1_ .footer{text-align:center}
#menu1 .btn_m,#menu1_ .btn_m{
	color:white;cursor:pointer;border:2px solid white;border-radius:18px;
	padding:6px 18px;display:inline-block;margin:12px auto
}
#menu1 .btn_m:hover,#menu1_ .btn_m:hover{background-color:#575790}
#menu1 .sections ul,#menu1_ .sections ul{list-style:none;font-size:14px;padding-left:6px}
#menu1 .sections ul li,#menu1_ .sections ul li{cursor:pointer;line-height:2}
#menu1 .sections ul li i,#menu1_ .sections ul li i{height:36px;vertical-align:sub;width:24px}
#menu1 .sections ul li.space_v,#menu1_ .sections ul li.space_v{
	border-bottom:1px solid #f7f7f7;padding:33px 0;margin:0 0 9px}
#menu1 .sections ul li:hover a,#menu1_ .sections ul li:hover a{text-decoration:underline}
@media (min-width: 960px){
	#menu1 .logo .image img,#menu1_ .logo .image img{width:150px}}
@media (min-width: 1280px){
	#menu1 .logo,#menu_ .logo{padding:21px 4px 87px}
    #menu1 .logo .image img,#menu_ .logo .image img{width:160px}

    #menu1 .title_section,#menu_ .title_section{font-size:16px;padding:23px 6px 23px 27px;width:80%}
    #menu1 ul>li div p,#menu1_ ul>li div p{font-size:15px}
 }
#menu1_{z-index:9}.color{cursor:pointer;width:45px}
