.tooltip, .tooltip_red, .tooltip_orange, .tooltip_green, .tooltip_blue {
    display: none; 
    border-radius: 9px; 
    color: white; 
    font-size: 14px; 
    left: 44px; 
    padding: 9px 9px; 
    position: fixed; 
    z-index: 9; 
}


.b_blue, .tooltip_blue {
    background-color: #468df0; 
}

.tooltip, .tooltip_red, .tooltip_orange, .tooltip_green, .tooltip_blue {
    display: none; 
    border-radius: 9px; 
    color: white; 
    font-size: 14px; 
    left: 44px; 
    padding: 9px 9px; 
    position: fixed; 
    z-index: 9; 
}

}
.b_blue, .tooltip_blue {
    background-color: #468df0; 
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header.mdc-top-app-bar.full_screen {
    width: 100%;
}


header.mdc-top-app-bar {
    background-color: white;
    color: black;
    width: 80%;
}

header {
    right: 0;
}

header .mdc-layout-grid__inner {
    width: 100%;
}

header #menu_settings {
    display: none;
    background-color: white;
    border-radius: 18px;
    height: 36px;
    position: absolute;
    right: 1%;
    top: 93px;
    width: 139px;
}

.mdc-elevation--z2 {
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

header .mdc-layout-grid__inner>div:not(.header) {
    background-color: white;
    height: 45px;
}
.mdc-layout-grid__cell--span-5, .mdc-layout-grid__cell--span-6, .mdc-layout-grid__cell--span-7, .mdc-layout-grid__cell--span-12 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

header .divisor_v {
    border-left: 0.5px solid #a0a0a0;
    text-align: right;
}


header .divisor_v a {
    color: #a0a0a0;
    font-size: 27px;
}

.divisor_h {
    background-color: #eaeaea;
    height: 1px;
    margin: 12px 0 27px;
    width: 100%;
}

.content_general {
    background-color: #f7f7f7;
    margin-top: 69px;
    margin-left: 20%;
    width: 80%;
}
@media (min-width: 1280px)
.full_screen .m_menu {
    font-size: 33px;
}

.full_screen .m_menu {
    color: #d8001e;
    cursor: pointer;
}
header.mdc-top-app-bar {
    background-color: white;
    color: black;
    width: 80%;
}
#menu, #menu_ {
    background-color: #505869;
    color: white;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 20%;
    z-index: 6;
}

@media (min-width: 1280px)
#menu .title_section, #menu_ .title_section {
    font-size: 16px;
    padding: 23px 6px 23px 27px;
    width: 80%;
}

#menu .title_section, #menu_ .title_section {
    color: white;
    background-color: #468df0;
    border-radius: 50px 0 0 50px;
    display: flex;
    height: auto;
    font-size: 13px;
    font-weight: 700;
    float: right;
   padding: 20px 36px 8px 21px;
    width: 85%;
}
#menu>ul, #menu_>ul {
    float: right;
    list-style: none;
    margin-top: 0;
    width: 100%;
}
#menu .footer, #menu_ .footer {
    text-align: center;
}
#menu a, #menu_ a {
    color: white;
}

#menu>ul>li:hover, #menu_>ul>li:hover {
    background-color: #6f7786;
}

#menu>ul>li, #menu_>ul>li {
    display: flex;
    cursor: pointer;
    margin: 6px 0 7px;
}
.link:hover {
    text-decoration: underline;
}

.link {
    color: #468df0;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin: 12px 3px;
    width: 100%;
}
#menu .footer, #menu_ .footer {
    text-align: center;
}
#menu .btn_m, #menu_ .btn_m {
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 18px;
    padding: 6px 18px;
    display: inline-block;
    margin: 12px auto;
}

@media (min-width: 1440px)
.content_general .block {
    padding: 9px 22px 39px 22px;
}
@media (min-width: 1280px)
.content_general .block {
    padding: 9px 15px 39px 15px;
}
.content_general .block, .content_general .block_light {
    padding: 9px 15px 39px 9px;
}
.content_general .block .header, .content_general .block_light .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content_general .block .header p, .content_general .block_light .header p {
    color: #707070;
    font-size: 22px;
    font-weight: 700;
    margin: 9px 0;
}
.content_general .mdc-layout-grid__inner>div:not(.transparent) {
    background-color: white;
}
.mdc-layout-grid__cell--span-5, .mdc-layout-grid__cell--span-6, .mdc-layout-grid__cell--span-7, .mdc-layout-grid__cell--span-12 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
@media (min-width: 1440px)
.content_general .block {
    padding: 9px 22px 39px 22px;
}
@media (min-width: 1280px)
.content_general .block {
    padding: 9px 15px 39px 15px;
}
.content_general .block, .content_general .block_light {
    padding: 9px 15px 39px 9px;
}
@media (min-width: 1280px)
header #account p {
    color: gray;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: normal;
    width: 103px;
}
@media (min-width: 1440px)
header #account p {
    width: 124px;
}
#menu>ul>li div.info p, #menu_>ul>li div.info p {
    padding-left: 15px;
    font-size: 12px;
    font-weight: 700;
    margin: 9px 0 0;
}
@media (min-width: 1280px)
#menu ul>li div p, #menu_ ul>li div p {
    font-size: 15px;
}
#menu>ul>li, #menu_>ul>li {
    display: flex;
    cursor: pointer;
    margin: 6px 0 7px;
}

#menu>ul>li div.info p.company, #menu_>ul>li div.info p.company {
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
