@charset "ISO-8859-1";
:root{
	--colorAzul:#849ec7;
	--backgroundBotonesDocCliente: #fff;
	--backgroundTextArea:#f7f7f7;
	--colorLetterGris:#b7b7b7;
	--colorDesabilitar:#d6d6d6;
	--colorHeader:#707070;
}

.styloBackTable{
	color:#4984f1; font-size: 1.5em; cursor: pointer;
}

body {
	font-family: Montserrat;
	background-color: #f8f8fe;
}
.hidePOM{
	display: none;
	animation: fade-in 1.5s;
}

.showPOM{ 
     display: block;
     animation: fade-in 1.5s;
}



.file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none;
}

.styleDownload{
	font-size: inherit;
}

.stylePDF{
    max-width: 44em;
    max-height: 63vh;
}


 .styleColorIconFile{
	font-size: 1.2em;
	color: var(--colorAzul);
	cursor: pointer;
}
.styleFilePaterno{
	background-color: transparent;
    border: none;
    border-bottom: 1px solid;
}

.headerInfoEnviar{
	color:#4984f1;
    font-weight: bold;
    font-size: 13px;
	cursor: pointer;
}
.textAreaStyle{
	width: 100%;
	color: #4c4c4c;
    font-size: 12px;
    font-family: Montserrat;
} 

.scroll-1 {
position: relative;
overflow-y: scroll;
height: 386px;
 }
 
 ::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #d9e2e1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4e4e4; 
}
.headerInfo{
	color:#4c4c4c;
    font-weight: bold;
    font-size: 13px;

}
.fechaInfo{
	color:#4c4c4c;
    font-size: 11px;

}

 .seguimientoSitioLetterDetalle{
    color: #4c4c4c;
    font-size: 12px;
 }
 
 .seguimientoSitioLetterDetalle > p{
	margin: 0px;
}

.iconFileClip{
	    margin-top: 0.7em;
}

#example  {
    height: 20px !important; 
}


	
.table-bordered {
    border:none !important;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05) !important;
}
table.dataTable tbody tr {
    background-color: none !important;
}
div.dataTables_filter label {
	color: white;
}

table.dataTable thead th, table.dataTable thead td {
    padding: none !important;
    border-bottom: none !important;
}

#example_next{
	color: white !important;
}
#example_previous{
	color: white !important;
}

th.sorting_asc{
	width: 0px;
    background: #468df0;
}
th.sorting_desc{
	width: 0px;
    background: #468df0;
}
th.sorting{
	background: #468df0;
}

.table-bordered td, .table-bordered th {
    border: none;
}


.table-bordered {
    border: none;
}
.table td  {
   padding: 0rem !important;
}